[Unit]
Description=Agave RPC Node
After=network-online.target local-fs.target
Wants=network-online.target
RequiresMountsFor=/mnt/fd-ledger /mnt/fd-accounts

[Service]
Type=simple
User=sol
Group=sol
WorkingDirectory=/home/sol/salsa-i-hate-sigverify
EnvironmentFile=-/etc/default/agave-rpc
ExecStart=/home/sol/salsa-i-hate-sigverify/scripts/rpc.sh
Restart=always
RestartSec=5
LimitNOFILE=2000000
LimitMEMLOCK=infinity
TasksMax=infinity
TimeoutStopSec=120
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
